<div *ngIf="currentCourse" class="container">
    <form class="form-wrapper" [formGroup]="courseGroup" (submit)="saveCourse(courseGroup)">

        <fieldset formGroupName="course">
            <div class="form-group">
                <label class="required" for="titleInput">Title</label>
                <input formControlName="title"  class="form-control" id="titleInput"/>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.title.dirty && courseGroup.controls.course.controls.title.errors">
                    Title length should be at least 3 and not more than 50 characters.
                </span>
            </div>
            <div>
                <label class="required">Description</label>
                <textarea formControlName="description" placeholder="Description" class="form-control"></textarea>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.description.dirty && courseGroup.controls.course.controls.description.errors">
                    Description length should be at least 1 and not more than 50o characters.
                </span>
            </div>
            <div>
                <input-created-date formControlName="date" ></input-created-date>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.date.dirty && courseGroup.controls.course.controls.date.errors">
                    Date is required and date format should be dd/MM/YYYY.
                </span>
            </div>
            <div>
                <input-duration formControlName="duration"></input-duration>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.duration.dirty && courseGroup.controls.course.controls.duration.errors">
                    Duration is required.
                </span>
            </div>
            <div>
                <select-authors formControlName="authors"></select-authors>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.authors.dirty && courseGroup.controls.course.controls.authors.errors">
                    At least one author needs to be selected.
                </span>
            </div>
            <div class="buttons-block">
                <button class="btn" [disabled]="courseGroup.invalid" (click)="updateCourse();">Update</button>
                <button class="btn" (click)="cancel();">Cancel</button>
            </div>
        </fieldset>
    </form>

    <!-- {{ currentCourse.title }} -->
</div>