.section {
    height: 200px;
    margin: 10px;
}
.course-description {
    width: 15%;
    height: 200px;
    float: left;
}
.course-buttons {
    margin-left: 15%;
    height: 200px;
}
.right-element {
    float: right;
}

button {
    margin: 3px;
    width: 100%;
}