.section {
    height: 200px;
    margin: 10px;
}
.course-description {
    width: 15%;
    height: 200px;
    float: left;
}
.course-buttons {
    margin-left: 15%;
    height: 200px;
}
.right-element {
    float: right;
}

button {
    margin: 3px;
    width: 100%;
}

.star-icon {
    content: "lallalal";
    display: block;
}

.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
 }