<div class="container wrapper">
    <form class="form-wrapper" [formGroup]="courseGroup" (submit)="saveCourse(courseGroup)">

        <fieldset formGroupName="course">
            <div style="z-index: 1; margin: 10px;">
                Title: <input formControlName="title" />
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.title.dirty && courseGroup.controls.course.controls.title.errors">
                    {{courseGroup.controls.course.controls.title.errors | json}}
                </span>
            </div>
            <div style="z-index: 2; margin: 10px;">
                Description:  <textarea formControlName="description" placeholder="Description"></textarea>
            </div>
            <div style="z-index: 3; margin: 10px;">
                <input-created-date formControlName="date"></input-created-date>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.date.dirty && courseGroup.controls.course.controls.date.errors">
                    {{courseGroup.controls.course.controls.date.errors | json}}
                </span>
            </div>
            <div style="z-index: 4; margin: 10px;">
                <input-duration formControlName="duration" ngModel></input-duration>
                <span class="status-message error-message" *ngIf="courseGroup.controls.course.controls.duration.dirty && courseGroup.controls.course.controls.duration.errors">
                    {{courseGroup.controls.course.controls.duration.errors | json}}
                </span>
            </div>
            <div style="z-index: 5; margin: 10px;">
                <select-authors></select-authors>
            </div>
            <div style="z-index: 6; margin: 10px;">
                <button class="btn" [disabled]="courseGroup.invalid" (click)="saveCourse();">Save</button>
                <button class="btn" (click)="cancel();">Cancel</button>
            </div>
        </fieldset>
    </form>
    <h4>Form value</h4>
    <pre>{{courseGroup.value | json}}</pre>
    <pre>Is myForm valid?: <br>{{courseGroup.valid | json}}</pre>
</div>